<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ .urlroot }}favicon.ico" />

	<title>Trollibox{{ if gt (len .players) 1 }} | {{ .player }}{{ end }}</title>

	<style>
		:root {
			--color-bg: {{ .colors.bg }};
			--color-bg-elem: {{ .colors.bgElem }};
			--color-text: {{ .colors.text }};
			--color-text-inactive: {{ .colors.textInactive }};
			--color-accent: {{ .colors.accent }};
		}
	</style>

	{{ with $v := . }}
		{{ range $v.assets.CSS }}
			<link rel="stylesheet" href="{{ $v.urlroot }}{{ . }}" />
		{{ end }}
	{{ end }}
</head>
<body>
<div id="app">
	<nav class="navbar navbar-default page-navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" @click="showNavbar^=true">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<span class="navbar-brand" href="/">
					Trollibox
					<select-player v-if="players.length > 1"
						:urlroot="urlroot"
						:players="players"
						:initial-selected-player="selectedPlayer"
					></select-player>
				</span>
			</div>

			<div class="collapse navbar-collapse" :class="{show: showNavbar}">
				<ul class="nav navbar-nav" role="tablist">
					<li class="nav-item show-view view-name-search" :class="{active: currentView == 'search'}">
						<a href="#" title="Search Everything" @click="currentView = 'search'">
							<span class="glyphicon glyphicon-search"></span>
							<span class="nav-title">Search</span>
						</a>
					</li>
					<li class="nav-item show-view view-name-albums" :class="{active: currentView == 'albums'}">
						<a href="#" title="Browse Albums" @click="currentView = 'albums'">
							<span class="glyphicon glyphicon-cd"></span>
							<span class="nav-title">Albums</span>
						</a>
					</li>
					<li class="nav-item show-view view-name-browse" :class="{active: currentView == 'genres'}">
						<a href="#" title="Browse Artists By Genre" @click="currentView = 'genres'">
							<span class="glyphicon glyphicon-music"></span>
							<span class="nav-title">Genres</span>
						</a>
					</li>
					<li class="nav-item show-view view-name-files" :class="{active: currentView == 'files'}">
						<a href="#" title="Browse Files" @click="currentView = 'files'">
							<span class="glyphicon glyphicon-folder-open"></span>
							<span class="nav-title">Files</span>
						</a>
					</li>
					<li class="nav-item show-view view-name-streams" :class="{active: currentView == 'streams'}">
						<a href="#" title="Network Streams" @click="currentView = 'streams'">
							<span class="glyphicon glyphicon-globe"></span>
							<span class="nav-title">Streams</span>
						</a>
					</li>
					<li class="nav-item show-view view-name-queuer" :class="{active: currentView == 'queuer'}">
						<a href="#" title="Configure The AutoQueuer" @click="currentView = 'queuer'">
							<span class="glyphicon glyphicon-random"></span>
							<span class="nav-title">AutoQueuer</span>
						</a>
					</li>
					<li class="nav-item view-name-player" :class="{active: currentView == 'player'}">
						<a href="#" title="Expand The Player" @click="currentView = 'player'">
							<span class="glyphicon glyphicon-play"></span>
							<span class="nav-title">Player</span>
						</a>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="https://github.com/polyfloyd/trollibox" target="_blank">Github</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<template id="tmpl-error-modal">
		<div class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Error</h4>
					</div>
					<div class="modal-body"><p></p></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</template>

	<div class="browser" :class="{'expand-player': currentView == 'player'}">
		<div class="views-container">
			<browser-search v-if="currentView == 'search'" class="view"
				:urlroot="urlroot"
				:selected-player="selectedPlayer"></browser-search>
			<browser-albums v-else-if="currentView == 'albums'" class="view"
				:urlroot="urlroot"
				:selected-player="selectedPlayer"
				:library="library"></browser-albums>
			<browser-genres v-else-if="currentView == 'genres'" class="view"
				:urlroot="urlroot"
				:selected-player="selectedPlayer"
				:library="library"></browser-genres>
			<browser-files v-else-if="currentView == 'files'" class="view"
				:urlroot="urlroot"
				:selected-player="selectedPlayer"
				:library="library"></browser-files>
			<browser-streams v-else-if="currentView == 'streams'" class="view"
				:urlroot="urlroot"
				:selected-player="selectedPlayer"></browser-streams>
			<browser-queuer v-else-if="currentView == 'queuer'" class="view"
				:urlroot="urlroot"
				:selected-player="selectedPlayer"></browser-queuer>
		</div>
		<div class="browser-player">
			<player
				:urlroot="urlroot"
				:selected-player="selectedPlayer"
				@update:tracks="library = $event" />
		</div>
	</div>
</div>

{{ if eq .build "debug" }}
<script src="//cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="//cdn.jsdelivr.net/npm/sortablejs@1/Sortable.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
{{ else }}
<script src="//cdn.jsdelivr.net/npm/vue@2"></script>
<script src="//cdn.jsdelivr.net/npm/sortablejs@1/Sortable.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
{{ end }}

{{ with $v := . }}
	{{ range $v.assets.JS }}
		<script src="{{ $v.urlroot }}{{ . }}"></script>
	{{ end }}
{{ end }}

<script>
	let data = {
		urlroot: {{ .urlroot }},
		players: {{ .players }}.map((name) => { return {name}; }),
		selectedPlayer: {{ .player }},
		currentView: {{ .view }} || 'search',
		library: [],
		showNavbar: false,
	};
	let app = new Vue({
		el: '#app',
		data,
		watch: {
			currentView: function(view) {
				this.showNavbar = false;

				let url = `${this.urlroot}player/${this.selectedPlayer}?view=${view}`;
				history.replaceState(null, document.title, url);
			},
		},
	});
	document.body.addEventListener('keypress', event => {
		if (event.target != document.body) return;
		// Map number keys to views.
		let views = ['search', 'albums', 'genres', 'files', 'streams', 'queuer', 'player'];
		let i = Object.keys(views).indexOf((event.key - 1)+'');
		if (i != -1) {
			app.currentView = views[i];
		}
	});
</script>
</body>
</html>
