<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ .urlroot }}favicon.ico" />

	<title>Trollibox{{ if gt (len .players) 1 }} | {{ .player }}{{ end }}</title>

	<script>
		window.URLROOT = '{{ .urlroot }}';
	</script>
	<style>
		:root {
			--color-bg: {{ .colors.bg }};
			--color-bg-elem: {{ .colors.bgElem }};
			--color-text: {{ .colors.text }};
			--color-text-inactive: {{ .colors.textInactive }};
			--color-accent: {{ .colors.accent }};
		}
	</style>

	{{ with $v := . }}
		{{ range $v.assets.css }}
			<link rel="stylesheet" href="{{ $v.urlroot }}{{ . }}" />
		{{ end }}
	{{ end }}
</head>
<body>
	<nav class="navbar navbar-default page-navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".page-navbar .navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<span class="navbar-brand" href="/">
					Trollibox
					{{ if gt (len .players) 1 }}
					|
					<select class="player-selector">
						{{ with $v := . }}
							{{ range $v.players }}
								<option value="{{ . }}" {{ if eq . $v.player }}selected{{ end }}>
									<a href="{{ $v.urlroot }}player/{{ . }}">{{ . }}</a>
								</option>
							{{ end }}
						{{ end }}
					</select>
					{{ end }}
				</span>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav" role="tablist">
					<li class="nav-item show-view view-name-search">
						<a
							href="#"
							data-baseurl="/browse/search/"
							data-state=""
							title="Search Everything">
							<span class="glyphicon glyphicon-search"></span>
							<span class="nav-title">Search</span>
						</a>
					</li>
					<li class="nav-item show-view view-name-albums">
						<a
							href="#"
							data-baseurl="/browse/albums/"
							data-state=""
							title="Browse Albums">
							<span class="glyphicon glyphicon-cd"></span>
							<span class="nav-title">Albums</span>
						</a>
					</li>
					<li class="nav-item show-view view-name-browse">
						<a
							href="#"
							data-baseurl="/browse/browse/"
							data-state=""
							title="Browse Artists By Genre">
							<span class="glyphicon glyphicon-music"></span>
							<span class="nav-title">Genres</span>
						</a>
					</li>
					<li class="nav-item show-view view-name-files">
						<a
							href="#"
							data-baseurl="/browse/files/"
							data-state=""
							title="Browse Files">
							<span class="glyphicon glyphicon-folder-open"></span>
							<span class="nav-title">Files</span>
						</a>
					</li>
					<li class="nav-item show-view view-name-streams">
						<a
							href="#"
							data-baseurl="/browse/streams/"
							data-state=""
							title="Network Streams">
							<span class="glyphicon glyphicon-globe"></span>
							<span class="nav-title">Streams</span>
						</a>
					</li>
					<li class="nav-item show-view view-name-queuer">
						<a
							href="#"
							data-baseurl="/queuer"
							data-state=""
							title="Configure The AutoQueuer">
							<span class="glyphicon glyphicon-random"></span>
							<span class="nav-title">AutoQueuer</span>
						</a>
					</li>
					<li class="nav-item view-name-player">
						<a
							href="#"
							data-baseurl="/player"
							data-state=""
							title="Expand The Player">
							<span class="glyphicon glyphicon-play"></span>
							<span class="nav-title">Player</span>
						</a>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="https://github.com/polyfloyd/trollibox" target="_blank">Github</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<template id="tmpl-error-modal">
		<div class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Error</h4>
					</div>
					<div class="modal-body"><p></p></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</template>

	<div class="browser">
		<div class="views-container"></div>
		<div class="browser-player"></div>
	</div>

	{{ with $v := . }}
		{{ range $v.assets.js }}
			<script src="{{ $v.urlroot }}{{ . }}"></script>
		{{ end }}
	{{ end }}

	<script>
		$(function() {
			{{ if gt (len .players) 1 }}
			$('.player-selector').on('change', function(event) {
				window.location = URLROOT+'player/'+event.target.value;
			});
			{{ end }}

			var player = new Player('{{ .player }}');
			var streamdb = new StreamDB();
			var filterdb = new FilterDB();
			var playerView = window.playerView = new PlayerView(player);

			function handleError(err) {
				console.error(err);
				$('body > .modal').modal('hide');
				var $el = $($('#tmpl-error-modal').html());
				$el.find('.modal-body p').text(err.message || err);
				$el.on('hidden.bs.modal', function() { $el.remove(); });
				$el.modal('show');
			}

			var views = {
				search:  new BrowserSearchView({ model: player }),
				albums:  new BrowserAlbumsView({ model: player }),
				browse:  new BrowserBrowseView({ model: player }),
				files:   new BrowserFilesView({ model: player }),
				streams: new BrowserStreamsView({ model: streamdb, player }),
				queuer:  new QueuerView(filterdb),
			};
			var app = new Backbone.Router({
				routes: {
					'browse/search/':  'search',
					'browse/albums/':  'albums',
					'browse/browse/':  'browse',
					'browse/files/':   'files',
					'browse/streams/': 'streams',
					'queuer':          'queuer',
					'player':          'player',
				},
			});
			app.route(/^browse\/files(.*)$/, 'files');

			function routeByName(name) {
				return Object.keys(app.routes).find(function(route) {
					return name === app.routes[route];
				});
			}

			app.on('route', function(route, args) {
				var state = decodeURIComponent(args[0] || '');
				// Toggle visibility of the views.
				if (route !== 'player') {
					for (var k in views) {
						views[k].$el.toggleClass('hidden', k !== route);
					}
					$('.browser').removeClass('expand-player');
				}
				if (!!routeByName(route).match(/^browse/)) {
					$('.view-name-'+route+' a').attr('data-state', state);
					views[route].setState(state);
				}

				// Toggle the 'active' class of the navigation buttons.
				$('.nav > .nav-item').removeClass('active');
				$('.nav > .nav-item.view-name-'+route).addClass('active');
			});
			app.on('route:player', function() {
				$('.browser').addClass('expand-player');
				playerView.showCurrent();
			});

			app.once('route', function(initRoute) {
				Object.keys(views).forEach(function(k) {
					if (k !== initRoute) {
						views[k].$el.addClass('hidden');
					}
					$('.views-container').append(views[k].$el);
					// Make sure to focus on the view when it emits a request-focus event.
					views[k].on('request-focus', function() {
						app.navigate(routeByName(k), { trigger: true });
					});
					// Listen to view state changes.
					views[k].on('change-state', function(state) {
						app.navigate(routeByName(k)+encodeURIComponent(state || ''), { trigger: false });
						$('.view-name-'+k+' a').attr('data-state', state);
					});
				});
				// Enable navigation by clicking one of the naviation buttons.
				$('.nav > .nav-item > a').each(function(i, el) {
					var $el = $(el);
					$el.on('click', function(event) {
						event.preventDefault();
						app.navigate($el.attr('data-baseurl') + ($el.attr('data-state') || ''), { trigger: true });
						// Close the hamburger menu.
						$('.navbar-toggle:visible').click();
					});
				});

				$('.browser-player').append(playerView.$el);

				Hotkeys.player(player, $(document));
				Hotkeys.browserSearch(views.search, $(document));
			});

			if (!Backbone.history.start()) {
				// Go to the search view if the current page mathces no route.
				app.navigate('browse/search/', {
					trigger: true,
					replace: true,
				});
			}
		});
	</script>
</body>
</html>
