.browser-search {
	flex-direction: column;
}

.browser-search > .search-input {
	flex-shrink: 0;
	margin-bottom: 15px;
}

.browser-search > .result-list {
	height: 100%;
}

.browser-search.search-busy > .result-list:empty:before {
	content: "Searching...";
}
