.browser-streams {
	width: 100%;
	display: flex;
	flex-flow: column;
}

.browser-streams .do-add-stream {
	display: inline-block;
	font-size: 0.6em;
	vertical-align: middle;
	color: var(--color-accent);
	cursor: pointer;
}

.browser-streams ul {
	width: 100%;
	height: 100%;
}

.browser-streams ul > li {
	width: 160px;
	height: 160px;
	display: inline-block;
	cursor: pointer;
}

.browser-streams ul > li .track-art {
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	margin: 4px;
	position: relative;
	font-size: 1.2em;
	background-color: var(--color-bg);
}

.browser-streams ul > li .track-art ~ * {
	background-color: var(--color-bg);
	position: absolute;
	padding: 0 0.2em;
	overflow: hidden;
}

.browser-streams ul > li .stream-title {
	top: 0;
	left: 0;
	right: 0;
}

.browser-streams ul > li button {
	padding: 0.2em;
	top: auto;
	bottom: 0;
	border: none;
	opacity: 0;
	color: var(--color-accent);
}

.browser-streams ul > li:hover button {
	opacity: 1;
}

.browser-streams ul > li button.do-remove {
	right: 0;
}

.browser-streams ul > li button.do-edit {
	left: 0;
}

.browser-streams ul > li .do-add {
	right: 0;
	color: var(--color-accent);
	opacity: 0;
}

.browser-streams ul > li:hover .do-add {
	opacity: 1;
}

.dialog-add-stream .art-preview {
	margin: 15px auto 0 auto;
	width: 100px;
	height: 100px;
}
