.browser-browse .tab {
	display: flex;
	flex-direction: column;
}

.browser-browse .tab-name-genre {
	width: 20%;
}

.browser-browse .tab-name-track,
.browser-browse .tab-name-artist {
	width: 40%;
}

.browser-browse h2 {
	flex-shrink: 0;
}
