{{ define "title" }}Browser{{ end }}

{{ define "pagename" }}browser{{ end }}

{{ define "content" }}
	<div class="browser">
		<div class="col-xs-12 col-sm-8 col-lg-9 browser-views">
			<ul class="browser-categories">
				<li role="presentation" id="browser-show-search">
					<a class="glyphicon glyphicon-search" title="Search Everything" href="#"></a>
				</li>
				<li role="presentation" id="browser-show-albums">
					<a class="glyphicon glyphicon-cd" title="Browse Albums" href="#"></a>
				</li>
				<li role="presentation" id="browser-show-browse">
					<a class="glyphicon glyphicon-music" title="Browse Artists By Genre" href="#"></a>
				</li>
			</ul>

			<div class="browser-content"></div>
		</div>

		<div class="hidden-xs col-sm-4 col-lg-3 browser-player"></div>
	</div>
{{ end }}

{{ define "init" }}
	<script>
		var player = new Player();
		player.on('error', function(err) {
			console.error(err);
		});

		var browserViews = {
			search: new BrowserSearchView({
				model: player,
			}),
			albums: new BrowserAlbumsView({
				model: player,
			}),
			browse: new BrowserBrowseView({
				model: player,
			}),
		};

		Object.keys(browserViews).forEach(function(name, i) {
			var view = browserViews[name];
			view.$el.addClass('hidden', i !== 0);
			if (i == 0) {
				view.$el.removeClass('hidden', i !== 0);
				$('#browser-show-'+name).addClass('active');
			}
			$('.browser-content').append(view.$el);
			$('#browser-show-'+name).on('click', function() {
				$('.browser-categories li').removeClass('active');
				$(this).addClass('active');
				$('.browser-view').addClass('hidden');
				view.$el.removeClass('hidden');
			});
		});

		var playerView = new PlayerView({
			model: player,
		});
		$('.browser-player').append(playerView.$el);
	</script>
{{ end }}
