{{ define "title" }}Browser{{ end }}

{{ define "pagename" }}browser{{ end }}

{{ define "content" }}
	<div class="browser">
		<div class="col-xs-12 col-sm-8 col-lg-9 browser-view">
		</div>
		<div class="hidden-xs col-sm-4 col-lg-3 browser-player"></div>
	</div>
{{ end }}

{{ define "init" }}
	<script>
		var player = new Player();
		player.on('error', function(err) {
			console.error(err);
		});
		var playerView = new PlayerView({
			model: player,
		});
		$('.browser-player').append(playerView.$el);
	</script>
{{ end }}
