.browser-queuer  {
	flex-flow: column;
}

.browser-queuer > * {
	width: 100%;
}

.queuer-rules {
	padding: 0;
	list-style-type: none;
}

.queuer-rules .queuer-invert {
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}

.queuer-rules .queuer-invert input {
	display: none;
}

.queuer-rules .queuer-invert span {
	color: var(--color-bg-elem);
}

.queuer-rules .queuer-invert input:not(:checked) ~ span {
	opacity: 0;
}

.queuer-rules li:last-child .input-group-addon.addon-and {
	display: none;
}

.browser-queuer button.glyphicon {
	font-size: 20px;
	border: none;
	color: var(--color-accent);
	background: none;
}

.queuer-rules li .do-remove {
	margin-left: 8px;
	vertical-align: middle;
}

.queuer-rules .rule-error .glyphicon {
	color: #f00;
}
