.browser-streams {
	width: 100%;
	display: flex;
	flex-flow: column;
}

.browser-streams .do-add-stream {
	display: inline-block;
	font-size: 0.6em;
	vertical-align: middle;
	color: var(--color-accent);
	cursor: pointer;
}

.browser-streams .stream-header {
	margin-bottom: 15px;
}

.browser-streams .edit-stream .art-preview {
	width: 160px;
	height: 160px;
	margin-left: 15px;
	float: right;
}

.browser-streams .input-group + .input-group {
	margin-top: 15px;
}

.browser-streams .stream-list {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.browser-streams .grid-item {
	cursor: pointer;
}

.browser-streams .grid-item > * {
	position: absolute;
	font-size: 1.2em;
	background-color: var(--color-bg);
}

.browser-streams .grid-item > .stream-title {
	padding: 0 0.2em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-overflow: ellipsis;
	overflow: hidden;
}

.browser-streams .grid-item:hover > .stream-title {
	text-overflow: initial;
	overflow: initial;
	word-break: break-all;
}

.browser-streams .grid-item > button {
	padding: 0.2em;
	top: auto;
	bottom: 0;
	border: none;
	opacity: 0;
	color: var(--color-accent);
}

.browser-streams .grid-item:hover > button {
	opacity: 1;
}

.browser-streams .grid-item > button.do-remove {
	right: 0;
}

.browser-streams .grid-item > button.do-edit {
	left: 0;
}

.browser-streams .grid-item > .do-add {
	right: 0;
	color: var(--color-accent);
	opacity: 0;
}

.browser-streams .grid-list > .grid-item:hover .do-add {
	opacity: 1;
}
