.browser {
	height: calc(100% - 50px); /* Minus navbar */
	display: flex;
}

.browser > * {
	height: 100%;
}

.browser .browser-views {
	width: 100%;
	display: flex;
	flex-grow: 1;
}

.browser-categories {
	height: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #222;
}

.browser-categories li {
	width: 60px;
	height: 60px;
}

.browser-categories li.active {
	background-color: #f60;
}

.browser-categories li .glyphicon {
	padding: 15px;
}

.browser-categories li .glyphicon {
	font-size: 30px;
	color: #f60;
}

.browser-categories li.active .glyphicon {
	color: #222;
}

.browser-views-content {
	width: calc(100% - 60px); /* Minus .browser-categories */
	height: 100%;
}

.browser .browser-view {
	height: 100%;
	padding: 15px;
	display: flex;
}

.browser .browser-view > * {
	padding: 15px;
	background-color: #222;
}

.browser .browser-view > .tab-view {
	height: 100%;
	padding: 0;
	background-color: transparent;
	overflow: hidden; /* Hide the overflowing :after */
}

.browser .browser-view > .tab-view > .tab {
	margin-right: 15px;
	padding: 15px;
	background-color: #222;
}

.browser .browser-view > .tab-view:after {
	background-color: #222;
	margin-right: -15px;
}

.browser .browser-view > .tab-view .do-pop-tab {
	font-size: 0.8em;
	padding: 0 0.3em 0 0;
	color: #f60;
	cursor: pointer;
}

.browser-player {
	width: 300px;
	height: calc(100% - 2*15px);
	margin: 15px;
	margin-left: 0;
	flex-shrink: 0;
}

.browser-player .player {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.browser .player-current {
	flex-shrink: 0;
}

.browser .player-playlist {
	overflow-x: auto;
}

.track-duration {
	margin-left: 0.5em;
	color: #aaa;
}

.track-duration:before {
	content: "(";
}

.track-duration:after {
	content: ")";
}
