.browser {
	height: calc(100% - 50px); /* Minus navbar */
	display: flex;
}

.browser > * {
	height: 100%;
}

.browser .browser-views {
	width: 100%;
	display: flex;
	flex-grow: 1;
}

.browser-categories {
	height: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #222;
}

.browser-categories li {
	width: 60px;
	height: 60px;
}

.browser-categories li.active {
	background-color: #f60;
}

.browser-categories li .glyphicon {
	padding: 15px;
}

.browser-categories li .glyphicon {
	font-size: 30px;
	color: #f60;
}

.browser-categories li.active .glyphicon {
	color: #222;
}

.browser-views-content {
	width: calc(100% - 60px); /* Minus .browser-categories */
	height: 100%;
}

.browser .browser-view {
	height: 100%;
	padding: calc(15px / 2);
	display: flex;
}

.browser .browser-view > * {
	margin: calc(15px / 2);
	padding: 15px;
	background-color: #222;
}

.browser-player {
	width: 300px;
	height: calc(100% - 2*15px);
	margin: 15px;
	margin-left: 0;
	flex-shrink: 0;
}

.browser-player .player {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.browser .player-current {
	flex-shrink: 0;
}

.browser .player-playlist {
	overflow-x: auto;
}


ul.result-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow-y: auto;
}

ul.result-list li:hover {
	background-color: #333;
	cursor: pointer;
}

ul.result-list li.active {
	background-color: #333;
	color: #f60;
}

ul.result-list:empty:before {
	content: "No results";
}

ul.result-list li em {
	color: #f60;
	font-style: normal;
}

ul.result-list li .track-artist:after {
	content: " - ";
}

.track-duration {
	margin-left: 0.5em;
	color: #aaa;
}

.track-duration:before {
	content: "(";
}

.track-duration:after {
	content: ")";
}


.browser-view h2:first-child {
	margin-top: 0;
}


.browser-view.browser-search {
	flex-direction: column;
}

.browser-view.browser-search > .search-input {
	flex-shrink: 0;
}

.browser-view.browser-search .do-show-more > .glyphicon {
	font-size: 2em;
	color: #000;
}

ul.result-list.all-shown + .do-show-more,
ul.result-list:empty + .do-show-more {
	display: none;
}


.browser-view.browser-albums {
	display: flex;
}

.browser-view.browser-albums .artist-list {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.browser-view.browser-albums .album-view {
	width: 50%;
}

.browser-view.browser-albums .artist-list h2 {
	flex-shrink: 0;
}

.browser-albums .album-view {
	display: flex;
	flex-direction: column;
}

.browser-albums .album-view .album-info {
	cursor: pointer;
	flex-shrink: 0;
}

.browser-albums .album-view .album-info:hover,
.browser-albums .album-view .disc-title:hover {
	background-color: #333;
}

.browser-albums .album-view .disc-title {
	margin: 0.4em 0 0 0;
	font-size: 1.2em;
	cursor: pointer;
}

.browser-albums .artist-list li {
	width: 160px;
	height: 160px;
	display: inline-block;
}

.browser-albums li .track-art {
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	margin: 4px;
	position: relative;
}

.browser-albums li .track-art > * {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	padding: 0 0.2em;
	opacity: 0;
	transition: opacity 0.2s;
}

.browser-albums li.show-details .track-art > *,
.browser-albums li .track-art:hover > * {
	opacity: 1;
}

.browser-albums li .album-title {
	top: 0;
	left: 0;
}

.browser-albums li .album-artist {
	bottom: 0;
	left: 0;
}

.browser-albums .album-view {
	position: relative;
	padding: 15px;
}

.browser-albums .track-art span,
.browser-albums .album-view span,
.browser-albums .album-view .disc-title {
	text-shadow: 0 0 0.2em #000;
}

.browser-albums .album-view .album-info,
.browser-albums .album-view .disc-title,
.browser-albums .album-view .result-list li {
	padding: 0 0.3em;
	position: relative;
	z-index: 10;
}

.browser-albums .album-view .album-info:hover,
.browser-albums .album-view .disc-title:hover,
.browser-albums .album-view .result-list li:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

.browser-albums .album-view .disc-title:before {
	content: "Disc ";
}

.browser-albums .album-view .album-title {
	font-size: 1.4em;
}

.browser-albums .album-view .album-title {
	font-size: 1.4em;
}

.browser-albums .album-view .album-artist {
	display: block;
}

.browser-albums .album-view .album-art {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	opacity: 0.4;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

ul.result-list li .track-num,
ul.result-list li .track-num:after {
	color: #aaa;
}

ul.result-list li .track-num:not(:empty):after {
	content: ". ";
}

ul.result-list li .track-album {
	float: right;
	color: #aaa;
}


.browser-view.browser-browse > * {
	width: calc(100% / 3);
	display: flex;
	flex-direction: column;
}

.browser-view.browser-browse h2 {
	flex-shrink: 0;
}
