.browser-files .tab {
	width: calc(100% / 3);
	display: flex;
	flex-direction: column;
}

.browser-files-header {
	display: flex;
}

.browser-files-header h2 {
	flex-grow: 1;
	margin-top: 0;
}

.views-container > .view > .tab-view .browser-files-header .do-pop-tab {
	font-size: 2.2em;
}

.browser-files .result-list > li.type-dir:after {
	content: "/";
}

.browser-files .do-queue-all {
	cursor: pointer;
}

.browser-files .do-queue-all:hover {
	background-color: #333;
}
