.browser {
	height: calc(100% - 50px); /* Minus navbar */
	position: relative;
	overflow: hidden; /* Prevent the scrollbar from showing when the player is expanded */
}

.browser > * {
	transition:
		width   0.4s,
		margin  0.4s,
		padding 0.4s,
		right   0.4s,
		opacity 0.4s;
}

.views-container {
	width: calc(100% - 300px - 15px);
	height: 100%;
	padding: 15px;
	overflow: hidden;
}

.views-container > * {
	width: calc(100vw - 300px - 15px*3);
	height: 100%;
	display: flex;
}

@media (max-width: 991px) {

	.views-container,
	.browser .views-container > * {
		width: 100%;
	}

}

.views-container > .view > * {
	padding: 15px;
	background-color: #222;
}

.views-container > .view > .tab-view {
	height: 100%;
	padding: 0;
	background-color: transparent;
	overflow: hidden; /* Hide the overflowing :after */
}

.views-container > .view > .tab-view:after {
	background-color: #222;
	margin-right: -15px;
}

.views-container > .view > .tab-view > .tab {
	margin-right: 15px;
	padding: 15px;
	background-color: #222;
}

.views-container > .view > .tab-view .do-pop-tab {
	font-size: 0.8em;
	padding: 0 0.3em 0 0;
	color: #f60;
	cursor: pointer;
}

@media (max-width: 991px) {

	.views-container > .view > .tab-view > .tab:not(:nth-last-child(-n+1)) {
		display: none !important;
	}

}

@media (min-width: 992px) {

	.views-container > .view > .tab-view > .tab:not(:nth-last-child(-n+3)) {
		display: none !important;
	}

	.view > .tab-view > .tab:not(:nth-last-child(3)) .do-pop-tab {
		display: none !important;
	}

}

.browser.expand-player .views-container {
	opacity: 0;
}

.browser.expand-player .browser-player {
	width: calc(100% - 2*15px);
	margin: 15px;
	display: block;
}

.browser-player {
	width: 300px;
	height: calc(100% - 2*15px);
	margin: 15px;
	margin-left: 0;
	position: absolute;
	top: 0;
	right: 0;
}

@media (max-width: 991px) {

	.browser .browser-player {
		right: calc(-300px - 15px);
	}

	.browser.expand-player .browser-player {
		width: calc(100% - 15px*2);
		right: 0;
	}

}

@media (min-width: 992px) {
}

.browser-player .player {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.browser-player .player-current {
	flex-shrink: 0;
}

.browser-player .player {
	overflow-x: auto;
}
