.browser-albums .tab {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.browser-albums > .tab-view .do-pop-tab {
	margin-bottom: 0.2em;
	font-size: 20px;
}

.browser-albums .tab-name-list h2 {
	flex-shrink: 0;
}

.browser-albums .tab-name-album {
	display: flex;
	flex-direction: column;
}

.browser-albums .tab-name-album .album-info {
	cursor: pointer;
	flex-shrink: 0;
}

.browser-albums .tab-name-album .album-info:hover,
.browser-albums .tab-name-album .disc-title:hover {
	background-color: #333;
}

.browser-albums .tab-name-album .disc-title {
	margin: 0.4em 0 0 0;
	font-size: 1.2em;
	cursor: pointer;
}

.browser-albums .tab-name-list ul {
	line-height: 0;
}

.browser-albums .tab-name-list li {
	width: 160px;
	height: 160px;
	display: inline-block;
	line-height: initial;
}

@media (max-width: 991px) {

	.browser-albums .tab-name-list li {
		width: 120px;
		height: 120px;
	}

}

.browser-albums li .track-art {
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	margin: 4px;
	position: relative;
}

.browser-albums li .track-art > * {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	padding: 0 0.2em;
	opacity: 0;
	overflow: hidden;
	transition: opacity 0.2s;
}

.browser-albums li.show-details .track-art > *,
.browser-albums li .track-art:hover > * {
	opacity: 1;
}

.browser-albums li .album-title {
	top: 0;
	left: 0;
	right: 0;
}

.browser-albums li .album-artist {
	left: 0;
	right: 0;
	bottom: 0;
}

.browser-albums .tab.tab-name-album {
	position: relative;
	padding: 15px;
	overflow: hidden;
}

.browser-albums .track-art span,
.browser-albums .tab-name-album span,
.browser-albums .tab-name-album .disc-title {
	text-shadow: 0 0 0.2em #000;
}

.browser-albums .tab-name-album .album-info,
.browser-albums .tab-name-album .disc-title,
.browser-albums .tab-name-album .result-list {
	position: relative;
	z-index: 10;
}

.browser-albums .tab-name-album .album-info:hover,
.browser-albums .tab-name-album .disc-title:hover,
.browser-albums .tab-name-album .result-list li:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

.browser-albums .tab-name-album .disc-title:before {
	content: "Disc ";
}

.browser-albums .tab-name-album .album-title {
	font-size: 1.4em;
}

.browser-albums .tab-name-album .album-title {
	font-size: 1.4em;
}

.browser-albums .tab-name-album .album-artist {
	display: block;
}

.browser-albums .tab-name-album .album-art {
	position: absolute;
	top: -4px;
	left: -4px;;
	right: -4px;
	bottom: -4px;
	z-index: 0;
	opacity: 0.4;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-filter: blur(4px);
	   -moz-filter: blur(4px);
	        filter: blur(4px);
}
