.browser-albums .tab {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.views-container > .view.browser-albums > .tab-view .do-pop-tab {
	margin-bottom: 0.4em;
	font-size: 20px;
}

.browser-albums .tab-name-list h2 {
	flex-shrink: 0;
}

.browser-albums .tab-name-list ul {
	flex-grow: 1;
}

.browser-albums .tab-name-list ul:before {
	line-height: 1em;
}

.browser-albums li .track-art {
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	margin: 4px;
	position: relative;
}

.browser-albums li .track-art > * {
	background-color: var(--color-bg);
	position: absolute;
	padding: 0 0.2em;
	opacity: 0;
	overflow: hidden;
}

.browser-albums li.show-details .track-art > *,
.browser-albums li .track-art:hover > * {
	opacity: 1;
}

.browser-albums li .album-title {
	top: 0;
	left: 0;
	right: 0;
}

.browser-albums li .album-artist {
	left: 0;
	right: 0;
	bottom: 0;
}

.browser-albums .tab.tab-name-album {
	position: relative;
	padding: 15px;
	overflow: hidden;
}

.browser-albums .tab-name-album {
	display: flex;
	flex-direction: column;
}

.browser-albums .tab-name-album .album-info {
	margin: 0;
	flex-shrink: 0;
	cursor: pointer;
}

.browser-albums .tab-name-album .album-content {
	overflow-y: auto;
}

.browser-albums .tab-name-album .album-disc-title {
	margin: 0.4em 0 0 0;
	font-size: 1.2em;
	cursor: pointer;
}

.browser-albums .tab-name-album .album-info,
.browser-albums .tab-name-album .album-disc-title,
.browser-albums .tab-name-album .result-list {
	padding: 0.5em;
}

.browser-albums .tab-name-album .album-info:hover,
.browser-albums .tab-name-album .album-info:hover + .album-content,
.browser-albums .tab-name-album .album-disc-title:hover,
.browser-albums .tab-name-album .album-disc-title:hover + .result-list,
.browser-albums .tab-name-album .result-list li:hover {
	background-color: var(--color-bg);
}

.browser-albums .tab-name-album .album-info:hover + .album-content .result-list > li > .glyphicon,
.browser-albums .tab-name-album .album-disc-title:hover + .result-list > li > .glyphicon {
	opacity: 1;
}

.browser-albums .tab-name-album .album-disc-title:before {
	content: "Disc";
	margin-right: 0.3em;
}

.browser-albums .tab-name-album .album-title {
	font-size: 1.4em;
}

.browser-albums .tab-name-album .album-duration {
	margin: 0.3em;
}

.browser-albums .tab-name-album .album-artist {
	display: block;
}

.browser-albums .tab-name-album .album-art {
	position: absolute;
	top: -4px;
	left: -4px;;
	right: -4px;
	bottom: -4px;
	z-index: 0;
	opacity: 0.4;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-filter: blur(4px);
	   -moz-filter: blur(4px);
	        filter: blur(4px);
}

.browser-albums .tab-name-album .album-art ~ * {
	z-index: 10;
}
