.player {
	padding: 15px;
	color: #eee;
	background-color: #222;
}

.player-current {
	font-size: 1.2em;
	padding: 15px 0;
}

.player-current .track-album {
	text-align: center;
	word-wrap: break-word;
}

.player-current .track-title {
	margin-bottom: 0;
	font-size: 1.3em;
	word-wrap: break-word;
}

.player-current .track-artist {
	font-size: 0.8em;
}

.player-current .track-art {
	width: 270px;
	height: 270px;
	margin: 0 auto 5px auto;
}

.player-current.queuedby-user .track-title:after {
	content: "*";
	margin-left: 0.3em;
	color: #f60;
}

.track-artist:empty:before,
.track-title:empty:before {
	content: "None";
	opacity: 0.7;
}

.track-art {
	background-image: url('../img/default-album-art.svg');
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}

.player .input-group-addon {
	padding: 0;
	border: none;
	font-size: inherit;
	color: inherit;
	background: none;
}

.player .track-time {
	margin-bottom: 0.3em;
	display: flex;
	font-size: 0.8em;
}

.player .track-time > * {
	font-size: 0.8em;
}

.player .track-time > span {
	width: 46px;
	flex-shrink: 0;
	text-align: center;
}

.player .track-time-current:empty:before {
	content: "0:00";
	opacity: 0.7;
}

.player .track-time-current:empty:before {
	content: "0:00";
	opacity: 0.7;
}

.player-current .do-set-time {
	width: calc(100% - 0.3em);
	margin: 0.3em 0;
	height: 0.7em;
}

.player-current.track-infinite .do-set-time {
	opacity: 0;
}

.player-current.track-infinite .track-time-current:not(:empty) ~ .track-time-total:after {
	content: "∞";
	font-size: 1.6em;
}

.player-volume {
	margin-bottom: 0.3em;
	display: flex;
}

.player-volume > span {
	width: 46px;
	text-align: center;
	flex-shrink: 0;
}

.player-controls {
	display: flex;
}

.player-controls > * {
	flex-grow: 1;
}

.player.player-playing .do-play,
.player.player-paused .do-pause {
	display: none;
}

.player-playlist {
	margin: 0;
	padding-left: 0;
	font-size: 1.1em;
	list-style-type: none;
}

.player-playlist li {
	cursor: move;
}

.player-playlist li:not(:last-child) {
	border-bottom: 2px solid #333;
}

.player-playlist li .track-artist:empty:before {
	content: "";
}

.player-playlist li .track-artist:not(:empty):after {
	content: " - ";
}

.player-playlist li.sortable-placeholder {
	height: 21px;
}

.player-playlist li .do-remove {
	padding: 0 0.4em 0 0;
	border: none;
	color: #f60;
	background: none;
}

.player-playlist li.queuedby-user:after {
	content: "*";
	margin-left: 0.3em;
	color: #f60;
}

.player-playlist.player-past li span {
	color: #888;
}

.player-playlist.player-future {
	min-height: calc(100% + 16px);
}
