.queuer > * {
	width: 100%;
}

.queuer-rules {
	padding: 0;
	list-style-type: none;
}

.queuer-rules .queuer-invert {
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}

.queuer-rules .queuer-invert input {
	display: none;
}

.queuer-rules .queuer-invert span {
	color: #222;
}

.queuer-rules .queuer-invert input:not(:checked) ~ span {
	opacity: 0;
}

.queuer-rules li:last-child .input-group-addon.addon-and {
	display: none;
}

.queuer button.glyphicon {
	font-size: 20px;
	border: none;
	color: #f60;
	background: none;
}

.queuer-rules li .do-remove {
	margin-left: 8px;
	vertical-align: middle;
}

.queuer-rules .rule-error .glyphicon {
	position: absolute;
	top: 8px;
	left: 6px;
	font-size: 30px;
	color: #f00;
}

.queuer-rules .rule-error .tooltip-inner {
	padding-left: 42px;
}

.queuer-rules input.queuer-value ~ .field-modified {
	padding: 0 2px;
	font-size: 30px;
	color: #f60;
	background-color: transparent;
}

.queuer-rules input.queuer-value:not(.modified) ~ .field-modified {
	display: none;
}
