* {
	border-radius: 0 !important;
	font-family: Liberation Sans, Helvetica;
	color: #ddd;
}

[hidden] {
	display: none !important;
}

html,
body {
	height: 100%;
}

body {
	background-color: #333;
}

h2:first-child {
	margin-top: 0;
}

.page-navbar {
	margin-bottom: 0;
	border: none;
}

.player-container {
	margin: 15px;
}

.panel {
	border: none;
}

.panel.panel-default > .panel-body {
	background-color: #222;
}

/* Navbar */
.nav > .nav-item > a.glyphicon {
	font-size: 24px;
	color: #f60;
}

.navbar-default .navbar-nav > .nav-item > a:hover {
	text-decoration: underline;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: #f60;
	color: #333;
}

.navbar-default .navbar-toggle {
	border-color: #f60;
}

.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #f60;
}

.navbar-default .navbar-collapse {
	border: none;
}

.player-selector {
	background-color: transparent;
	border: 1px solid #f60;
}

.player-selector option {
	background-color: #222;
	color: #f60;
}

/* Forms and inputs */
.btn.btn-default {
	background-color: #f60;
	border: none;
	color: #222;
}

.btn.glyphicon {
	padding: 2px 8px;
	font-size: 20px;
}

.btn.btn-default:hover,
.btn.btn-default:active {
	box-shadow: inset 0 0 0 2px #f91;
	border: none;
}

.input-group > .input-group-btn {
	border: 1px solid #f60;
}

.form-control {
	background-color: #222;
	border-color: #f60;
	color: #f60;
}

.form-control:focus {
	border-color: #f60;
	background-color: #333;
	box-shadow: none;
}

.input-group-addon {
	color: #222;
	background-color: #f60;
	border: none;
}

.input-group-addon .glyphicon {
	color: #222;
	font-size: 1.4em;
}

.error-message {
	color: #f00;
}

input[type='range'] {
	-webkit-appearance: none;
	        appearance: none;
	background: #333;
	border: none;
	overflow: hidden;
}

input[type="range"]::-moz-range-track {
	-moz-appearance: none;
	     appearance: none;
	background: #333;
	height: 0;
}

input[type='range']::-moz-range-thumb {
	-moz-appearance: none;
	     appearance: none;
	width: 0;
	border: 0;
	box-shadow: -100vw 0 0 100vw #f60;
}

input[type='range'][disabled]::-moz-range-thumb {
	background: #444;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	        appearance: none;
	width: 0;
	height: 1.0em;
	box-shadow: -100vw 0 0 100vw #f60;
}

input[type='range'][disabled]::-webkit-slider-thumb {
	background: #444;
}

/* Navbar */
.navbar.navbar-default {
	background-color: #222;
}

.navbar.navbar-default .navbar-brand {
	color: #f60;
}

.navbar-default .navbar-nav > .active > a {
	background-color: #f60;
	color: #222;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #f60;
}

.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:hover {
	background-color: #f60;
	color: #222;
}

/* Modal */
.modal-content {
	background-color: #222;
}

.modal-content > * {
	border-color: #333;
}

/* Scrollbars (webkit) */
::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-track {
	background-color: #222;
}

::-webkit-scrollbar-thumb {
	border: 3px solid #222;
	background-color: #333;
}
