.tab-view {
	width: 100%;
	padding: 0;
	display: flex;
}

.tab-view > .tab {
	height: 100%;
	float: left;
	overflow-y: auto;
}

.tab-view > .tab:first-child .do-pop-tab {
	display: none;
}

/* A dummy to fill the remaining space */
.tab-view:after {
	content: "";
	display: block;
	height: 100%;
	float: left;
	flex-grow: 1;
	overflow-y: auto;
}

@media (min-width: 992px) {

	.tab-view > .tab:not([hidden]) + .tab .do-pop-tab {
		display: none;
	}

}

@media (max-width: 991px) {

	.tab-view > .tab:not(:last-child) {
		display: none !important;
	}

	.tab-view > .tab:last-child {
		width: 100%;
	}

}
