.track-duration {
	color: #aaa;
}

.track-duration:before {
	content: "(";
}

.track-duration:after {
	content: ")";
}

ul.result-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow-y: auto;
}

ul.result-list li {
	display: flex;
}

ul.result-list li > * {
	min-width: 0;
	flex-shrink: 1;
	flex-wrap: nowrap;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.result-list li .track-num {
	margin-right: 0.3em;
}

ul.result-list li .track-num,
ul.result-list li .track-num:after {
	color: #aaa;
}

ul.result-list li .track-num:not(:empty):after {
	content: ".";
}

ul.result-list li .track-artist,
ul.result-list li .track-title {
	flex-shrink: 0.5;
}

ul.result-list li .track-album {
	margin: 0 0.5em;
	flex-grow: 1;
	text-align: right;
	color: #aaa;
}

ul.result-list li .track-duration {
	margin-left: 0.35em;
}

ul.result-list li:hover {
	background-color: #333;
	cursor: pointer;
}

ul.result-list li.active {
	background-color: #333;
	color: #f60;
}

ul.result-list:empty:before {
	content: "No results";
}

ul.result-list li em {
	color: #f60;
	font-style: normal;
}

ul.result-list li .track-artist:after {
	content: "-";
	margin: 0 0.35em;
	overflow: hidden;
}

ul.result-list li > .glyphicon {
	opacity: 0;
	height: 100%;
	color: #f60;
	font-size: 1.2em;
	text-align: right;
	flex-grow: 1;
}

ul.result-list li:hover > .glyphicon {
	opacity: 1;
}

ul.result-list li > .track-album + .glyphicon {
	flex-grow: 0;
	flex-shrink: 0;
}

ul.result-list.grid-list {
	display: flex;
	flex-wrap: wrap;
	line-height: 0;
}

ul.result-list.grid-list:after {
	content: "";
}

ul.result-list.grid-list li {
	min-width: 160px;
	position: relative;
	display: inline-block;
	flex-grow: 1;
	line-height: initial;

	/* Hack to prevent items from becoming really big */
	overflow: hidden;
	max-width: 320px;
}

ul.result-list.grid-list li img.ratio {
	width: 100%;
}

ul.result-list.grid-list li img.ratio + * {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.insertion-animation {
	position: absolute;
	z-index: 10000;
	font-size: 4vmin;
	color: #f60;
	animation: 1.5s bubble-up;
}

@keyframes bubble-up {
	0% {
		transform-origin: center center;
		transform: scale(0) translate(0, 0);
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1) translate(0, -8vmin);
		opacity: 0;
	}
}
