* {
	border-radius: 0 !important;
	font-family: Liberation Sans, Helvetica;
	color: var(--color-text);
}

[hidden] {
	display: none !important;
}

html,
body {
	height: 100%;
}

body {
	background-color: var(--color-bg);
}

h2:first-child {
	margin-top: 0;
}

.page-navbar {
	margin-bottom: 0;
	border: none;
}

.player-container {
	margin: 15px;
}

.panel {
	border: none;
}

.panel.panel-default > .panel-body {
	background-color: var(--color-bg-elem);
}

/* Navbar */
.navbar-default .navbar-nav > li > a {
	padding: 13px;
	color: var(--color-accent);
}

.navbar-default .navbar-nav > li > a .nav-title {
	font-size: 14px;
	color: inherit;
}

.navbar-default .navbar-nav > li > a .glyphicon {
	margin-right: 4px;
	font-size: 18px;
	color: inherit;
}

.navbar-default .navbar-nav > li.nav-item:hover {
	box-shadow: inset 0 -2px var(--color-accent);
}


@media (min-width: 768px) and (max-width: 991px) {
	.navbar-default .navbar-nav > li > a .nav-title {
		display: none;
	}

	.navbar-default .navbar-nav > li > a .glyphicon {
		margin-right: 0;
	}
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: var(--color-accent);
	color: var(--color-bg);
}

.navbar-default .navbar-toggle {
	border-color: var(--color-accent);
}

.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: var(--color-accent);
}

.navbar-default .navbar-collapse {
	border: none;
}

.player-selector {
	background-color: transparent;
	border: 1px solid var(--color-accent);
}

.player-selector option {
	background-color: var(--color-bg-elem);
	color: var(--color-accent);
}

/* Forms and inputs */
.btn.btn-default {
	background-color: var(--color-accent);
	border: none;
	color: var(--color-bg-elem);
}

.btn.glyphicon {
	padding: 2px 8px;
	font-size: 20px;
}

.btn.btn-default:hover,
.btn.btn-default:active {
	background-color: var(--color-bg);
	color: var(--color-accent);
	border: none;
}

.input-group > .input-group-btn {
	border: 1px solid var(--color-accent);
}

.form-control {
	background-color: var(--color-bg-elem);
	border-color: var(--color-accent);
	color: var(--color-accent);
}

.form-control:focus {
	border-color: var(--color-accent);
	background-color: var(--color-bg);
	box-shadow: none;
}

.input-group-addon {
	color: var(--color-bg-elem);
	background-color: var(--color-accent);
	border: none;
}

.input-group-addon .glyphicon {
	color: var(--color-bg-elem);
	font-size: 1.4em;
}

.error-message {
	color: #f00;
}

input[type='range'] {
	-webkit-appearance: none;
	        appearance: none;
	background: var(--color-bg);
	border: none;
	overflow: hidden;
}

input[type="range"]::-moz-range-track {
	-moz-appearance: none;
	     appearance: none;
	background: var(--color-bg);
	height: 0;
}

input[type='range']::-moz-range-thumb {
	-moz-appearance: none;
	     appearance: none;
	width: 0;
	border: 0;
	box-shadow: -100vw 0 0 100vw var(--color-accent);
}

input[type='range'][disabled]::-moz-range-thumb {
	background: #444;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	        appearance: none;
	width: 0;
	height: 1.0em;
	box-shadow: -100vw 0 0 100vw var(--color-accent);
}

input[type='range'][disabled]::-webkit-slider-thumb {
	background: #444;
}

/* Navbar */
.navbar.navbar-default {
	background-color: var(--color-bg-elem);
}

.navbar.navbar-default .navbar-brand {
	color: var(--color-accent);
}

.navbar-default .navbar-nav > .active > a {
	background-color: var(--color-accent);
	color: var(--color-bg-elem);
}

.navbar-default .navbar-nav > li > a:hover {
	color: var(--color-accent);
}

.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:hover {
	background-color: var(--color-accent);
	color: var(--color-bg-elem);
}

/* Modal */
.modal-content {
	background-color: var(--color-bg-elem);
}

.modal-content > * {
	border-color: var(--color-background);
}

/* Scrollbars (webkit) */
::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-track {
	background-color: var(--color-bg-elem);
}

::-webkit-scrollbar-thumb {
	border: 3px solid var(--color-bg-elem);
	background-color: var(--color-background);
}
